# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
PORT=3001
NODE_ENV=development
DATABASE_URL=""
CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

PAYPAL_CLIENT_SECRET=""
PAYPAL_CLIENT_ID=""
PAYPAL_MODE="sandbox"
PAYPAL_WEBHOOK_ID="="


RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_WEBHOOK_SECRET=""
